.footer {
  min-height: 657px;
  background: #316099;
}
.footer__top {
  left: 0px;
  top: 0px;
  position: relative;
}
.footer__top-content {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 91px 113px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer-headding {
  width: 340px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.footer-text {
  width: 495px;
  margin-top: 32px;
}
.footer-button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 80px;
  background: #5A98D0;
  display: inline-block;
  position: absolute;
  top: 165px;
  right: 114px;
}

.line {
  height: 0px;
  left: 0px;
  top: 3107px;
  opacity: 0.4;
  border: 1px solid #FFFFFF;
}

.footer_info {
  margin: 64px 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.add {
  width: 316px;
}

.bottom-text {
  margin: 64px 113px;
  width: 310px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}